@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu&display=swap');

.conact-tile--img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.contact-tile {
    margin: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tile:hover {
    .contact-tile--h3 {
        //transition: filter 1s;
        filter: invert(68%) sepia(99%) saturate(737%) hue-rotate(347deg) brightness(99%) contrast(89%);
    } 
    .conact-tile--img {
        //transition: filter 1s;
        filter: invert(68%) sepia(99%) saturate(737%) hue-rotate(347deg) brightness(99%) contrast(89%);
    }
}

.contact-tile--h3 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #1E2019;
}