@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu&display=swap');

.conact-tile--img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.contact-tile {
    margin: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tile:hover {
    .contact-tile--h3 {
        filter: invert(72%) sepia(63%) saturate(1273%) hue-rotate(348deg) brightness(101%) contrast(87%);
    } 
    .conact-tile--img {
        filter: invert(72%) sepia(63%) saturate(1273%) hue-rotate(348deg) brightness(101%) contrast(87%);
    }
}

.contact-tile--h3 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #1E2019;
}