.projects--img {
    width: 350px;
    height: 200px;
    padding-right: 30px;
}

.projects--p {
    width: 600px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    color: #1E2019;
}

.projects--h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    margin-bottom: 5px;
    color: #1E2019;
}

.projects--h3 {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    color: #1E2019;
}

.projects--card {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.projects--col {
    display: flex;
    flex-direction: column;
    position: relative;
}

.projects--icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.projects--icon:hover {
    filter: invert(72%) sepia(63%) saturate(1273%) hue-rotate(348deg) brightness(101%) contrast(87%);
}