.conact-tile--img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.contact-tile {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tile--h3 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}