.about-me {
    margin-top: 30px;
    padding-bottom: 250px;
    background-image: linear-gradient(176deg, #E58F65 70%, #FFFFFF calc(70% + 2px)); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me--portfolio-img {
    width: 30vw;
}

.about-me--p {
    color: #191919;
}

.about-me--h1 {
    color: #191919;
}

.about-me--content {
    width: 30%;
    padding-right: 5%;
}

.about-me--img {

}