@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu&display=swap');

.header {
    padding-bottom: 100px;
    background-image: linear-gradient(176deg, #EFAD1F 80%, #FFFFFF calc(80% + 2px)); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header--portfolio-img {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 450px;
    border-radius: 50%;
}

.header--p {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.header--h1 {
    color: #ffffff;
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
}

.header--h1-alt {
    color: #587B7F;
}

.header--content {
    width: 50%;
    padding-right: 20px;
}