.about-me {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 40px;
}

.about-me--p {
    width: 1010px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    color: #1E2019;
}